@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {*/
/*    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
/*    line-height: 1.5;*/
/*    font-weight: 400;*/
/*}*/

/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');*/
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400; /* Средняя насыщенность, как на Genius */
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700; /* Более жирный для заголовков */
}

/* Глобальное изменение цвета спиннера */
.ant-spin-dot-item {
  background-color: #000000 !important; /* Красный цвет */
}

/* Изменение цвета ползунка громкости*/
input[type="range"] {
  accent-color: #000000;
}